div #music {
  position: fixed;
  clip: rect(0px,70px,31px,0px);
  right: 1px;
  width:31px;
  background: #00ffff;
}


div .inner {
  font-family: 'Cormorant Upright', serif;
}
div.title {
  font-family: 'Megrim', cursive;
}

//web style
body { 
  background:  url(background.gif) no-repeat center center fixed; 
  background-size: cover;
}

img .right {
    float: right;
    margin: 0 0 10px 10px;
}

img .left {
    float: left;
    margin: 0 0 10px 10px;
}

body {
 
  
  height:100%;
  color: 	#f9ff04;

}

img.resize{
    width:160px; /* you can use % */
    height: auto;
}

div.inner{
  margin-left:160px;
  color: #000000;
  margin:auto;
  text-align:center;
}

div.backinner{
  background-image: url(mail.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  height:auto;
  background-position: top center;
  width:85vw;
  margin:auto;
}

div.outer {
  width:100vw;
}

div #youtube {
  display:none
}
p {
  font-size: 24px;
}
s {
  font-size: 38px;
}
m {
  font-size: 52px;
}
l{
  font-size: 66px;
  }
mi {
  font-size: 10px;
}
footer mi {
  
  background: #2dff00;
  margin-left: 100px;
}

footer mi .bigger{
  font-size: 180%;
  background: #2dff00;
  margin-left: 100px;
}
.center {
  text-align: auto;
}

ti{
  text-align:center;
  color: #1100ff;
  font-size:80px;
  font-family: 'Megrim', cursive;
}

lo {
  background: #2dff00;
  margin-left: 12px;
  font-family: 'Megrim', cursive;
}
