
body { 
  background:  url(background.gif) no-repeat center center fixed; 
  background-size: cover;
}

body {
  font-family: 'Cookie', cursive;
  
  
  color: 	#f9ff04;

}

div.inner{
  margin-left:100px;
  margin-right:100px;
  background: url('mail.png') no-repeat center center fixed;
  margin-top:25px;
}

p {
  font-size: 300%;
}
s {
  font-size: 400%;
}
m {
  font-size: 500%;
}
l{
  font-size: 600%;
  }
mi {
  font-size: 150%;
  background: #2dff00;
}


.center {
  text-align: auto;
}

