
body { 
  background:  url(background.gif) no-repeat center center fixed; 
  background-size: cover;
}

body {
  font-family: 'Cookie', cursive;
  font-size: 300%;
  
  color: 	#990005;

}

div.inner{
  margin-left:100px;
  margin-right:100px;
  
}
