
body { 
  background:  url(background.gif) no-repeat center center fixed; 
  background-size: cover;
}

body {
  font-family: 'Cookie', cursive;
  
  
  color: 	#990005;

}

div.inner{
  margin-left:100px;
  margin-right:100px;
  
}

p {
  font-size: 300%;
}
s {
  font-size: 400%;
}
m {
  font-size: 500%;
}
l{
  font-size: 600%;
  }
