
body { 
  background:  url(background.gif) no-repeat center center fixed; 
  background-size: cover;
}

body {
  font-family: 'Cookie', cursive;
  font-size: 300%;
  
  color: 	#000000;

}

footer {
  background: #9cfcbc;
}
div .text {
  margin-left: 100px;
  background: #66b8ff;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}
