@import url(http://fonts.googleapis.com/css?family=Advent+Pro:100);
html { 
  background:  url(giphy.gif) no-repeat center center fixed; 
  background-size: cover;
}

body {
  font-family: 'Cookie', cursive;
  font-size: 300%;

  color: 	#000000;

  

}
