
body { 
  background:  url(background.gif) no-repeat center center fixed; 
  background-size: cover;
}

body {
  font-family: 'Cookie', cursive;
  font-size: 300%;
  
  color: 	#881113;

}


div .text {
  margin-left: 100px;
 
  
}
